.footer {
    display: flex;
    flex-direction: row;
    height: 60px;
    bottom: 0;
    width: 100%;
    background: transparent;
    justify-content: center;
    margin-top: 100px;
}

.link {
    text-decoration: none;
    margin: 0px 30px 0px 30px;
    color: white;
}

