.header {
    display: flex;
    height: 150px;
    align-items: center;
    justify-content: center; 
    background-color: black;
}

/* .header a.active {
    background-color: rgb(110, 156, 255);
} */