.font-link {
    font-family: 'Kalam', cursive;
}
.navbar {
    height: 70px;
    background: transparent;
    padding: 15px 5px 15px 5px; 
}

.navItems a {
    font-size: 30px;
    font-family: kalam, cursive;
    text-decoration: none;
    margin: 0px 35px 0px 35px;
    color: white;
}

.active {
    color: rebeccapurple;
}