.navbar {
    height: 60px;
    background: transparent;
    color: rgb(212, 54, 54);
    padding: 15px 5px 15px 5px; 
}

.navItems {
    font-size: 30px;
    align-content: center;
    align-items: center;
}